<nav class="navbar navbar-expand-lg bg-body-tertiary mt-3 mb-2">
   <div class="container-fluid">
      <%= link_to "Replay.io", root_path, class: "navbar-brand lily-script" %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
         <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
            <li class="nav-item">
               <%= link_to root_path, class: "nav-link active", title: "Home" do %>
               <i class="bi bi-house-door"></i> 
               <% end %>
            </li>
         </ul>
         <form class="d-flex">
            <% if user_signed_in? %>
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
               <li class="nav-item">
                  <%= link_to new_post_path, class: "nav-link active", title: "Answer" do %>
                  <i class="bi bi-chat-text"></i> 
                  <% end %>
               </li>
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                     <i class="bi bi-person-circle"></i> <!-- Bootstrap Icon for profile -->
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                     <li><%= link_to  client_user_index_path, class: "dropdown-item" do %>
                        <i class="bi bi-person-circle"></i> Your Profile
                        <% end %>
                     </li>
                     <li><%= link_to  edit_user_registration_path, class: "dropdown-item" do %>
                        <i class="bi bi-gear"></i> Settings
                        <% end %>
                     </li>
                     <li><%= link_to root_path, class: "dropdown-item" do %>
                        <i class="bi bi-journal-text"></i> Note
                        <% end %>
                     </li>
                     <li><%= link_to destroy_user_session_path, data: {turbo_method: :delete},class: "dropdown-item" do %>
                        <i class="bi bi-box-arrow-right"></i> Sign out
                        <% end %>
                     </li>
                  </ul>
               </li>
            </ul>
            <% else %>
            <%= link_to new_user_registration_path, class: "nav-link  active  mr-2", title: "Join Now" do %>
            <i class="bi bi-person-plus-fill"></i> 
            <% end %>
            <% end %>
         </form>
      </div>
   </div>
</nav>